mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset="#{imageName}-1880.jpg 1880w, #{imageName}-1440.jpg 1440w, #{imageName}-940.jpg 940w, #{imageName}-720.jpg 720w, #{imageName}-366.jpg 366w, #{imageName}-327.jpg 327w, #{imageName}-272.jpg 272w" src="#{imageName}-272.jpg" alt=alt).TourHomeImage


ul.TourHomes.u-container

    li
        h3
            | 1015 Edgewood Avenue
            small Inman Park Methodist Church
            small Reverend Max Vincent, Minister
        
        mixin tourImage("/assets/img/2017/toh/2017-1-1015-edgewood-umc", "Inman Park Methodist Church")
        
        p After the end of the Civil War ended, building supplies and money were in short supply. Yet a small group of parishioners gathered to meet— first in homes, then in a small brush arbor, and finally in a wood-frame church in the Edgewood community. In 2015, with several members of the early families in attendance, the Inman Park Methodist Church celebrated its 150th anniversary as a congregation. 

        p Twenty-three-year-old architect Willis Franklin Denny II (1874–1905) designed the current sanctuary building in a Romanesque-style structure of Stone Mountain granite at a cost of $12,620. The cornerstone for the building was laid on September 6, 1897, and the building was dedicated on April 17, 1898. 

        p Note the original furniture and architectural details. Coca-Cola Corporation founder Asa Candler commissioned one of the large stained-glass windows as a tribute to his mother, Martha Beall Candler, at a cost of $125. He had it inscribed, "She hath done what she could." Large patches of the original "Denny Blue" calcimine paint can still be seen. The chipping plaster remains a stark reminder of many years of deferred maintained when the neighborhood and congregation were in decline. Fortunately, the church now flourishes, attracting many young families and residents new to the area. 

        p Service to the community is a strong tradition in Inman Park. It was at the altar of this church that Methodist Bishop Warren Candler accepted a check for one million dollars from his brother, Asa Candler, to found Emory University. 

    li
        h3
            | 177 Elizabeth Street
            small Regina Brewer and Joe Castellano
        
        //- mixin tourImage("/assets/img/2018/", "alt")
        
        p In 1996 when Regina and Joe moved to Inman Park, they looked at 177 Elizabeth Street longingly and hoped that someday it might be their home. Their dream came true in 2016, when they became the proud owners of this 1890 Queen Anne Victorian.
        
        p Regina, both a preservation planner and general contractor, utilized the Georgia Rehabilitation Tax Credit and Property freeze programs to help defray the costs of the full restoration and rehabilitation. All original exterior elements were repaired and restored and then transformed with a rich paint color palate. In the interior, all the wood floors were restored, plaster walls retained, window and door hardware stripped of paint. The second and third floor windows were completely restored and are fully operational.

        p The main floor had already been wonderfully renovated, with a new kitchen completed in 2000. To make the house their own, Regina and Joe chose a lighter paint scheme with the guidance of Thea Quillian of TMQ Designs. Adam Stillman of Adam Stillman Residential Design created plans for reconfiguring the second floor and finishing out the old fire damaged attic. The new "floating" staircase to the third floor was designed so that the beautiful hall windows could be retained. The front sitting room on the second floor became the new Master Suite with an en suite bathroom (formerly a bedroom).  All the fireplaces were restored and have working gas coal baskets.  The third floor now holds two cozy bedrooms for their two teenage daughters, with their teenage son on the second floor.

    li
        h3
            | The Carriage House at 177 Elizabeth Street, Apartment #3
            small Ruth Wall and Chipper

        p In the 1880's, grand Victorian homes began to appear in Inman Park, the first planned suburb in Atlanta.  These were the homes of city scions and most of the homes had a carriage house that housed both the team of horses and the carriage. Nearly 130 years later, some of these carriage houses still stand and while they have been altered, they still remind us of times long ago.  Inman Park pioneers used these carriage houses, also known as Granny flats, for rental income and they were legally allowed in 1982. 

        p This three -story carriage house holds two separate apartments but the lower storage area, which still has the original granite block foundation, remains nearly the same as it did in the 1890's.  The main level unit is a one bedroom, one bath home with a spacious screened porch that enjoys the view of the rear lawn, which is nicknamed "the hollow".  Ruth lived in Inman Park in one of the Victorian homes on Hurt Street for years before moving to Biloxi, MS.   She now rents this unit while she collaborates on writing the book about the successful battle by Intown neighborhoods to stop the Stone Mountain Freeway and the Presidential Parkway. 

        p The home clearly shows Ruth's love of her native home of New Orleans and her love of entertaining with a dramatic flair!  Chipper, her six -year old Airedale Terrier, is a great host and welcomes you to his home.

    li
        h3
            | 196 Waverly Way
            small Marji McCollough and Dirk Schroeder

        p Don't be fooled by the modest, cozy exterior of this rare Stucco home. It's one of two in Inman Park. Once you enter you find a stately house with unexpected surprises around almost every corner. Large rooms with 11 foot coved plaster ceilings and spacious hallways lead to the kitchen, sun porch and veranda overlooking a beautiful garden with Atlanta's skyline as a backdrop.  Built on a hill in 1896 on land owned by Asa Candler of Coca Cola fame, it's rumored to be an entertainment house in English cottage style with elements of Tudor revival. 

        p Marji McCullough and Dirk Schroeder bought the home in 2014 when it was advertised as "a diamond in the rough". An extensive renovation with the goal of bringing the home "back to its former glory", almost doubled the living space, with a spacious master suite they built out in the attic and a "man cave" and bicycle room in the stone walled basement. Look for the leaded glass windows, heart pine flooring repurposed from the attic, original fireplace covers, rounded rooms and walls.  The kitchen island and counters were built from beams discovered during the attic renovation. Some quirky history was made in this home. Articles tell the story of Inman Park's Chrysanthemum Flower Festival here in 1909. During prohibition in 1924 a liquor syndicate was run out of the house. A year later, police broke up a gambling ring here.  Today the home is a quiet, cozy oasis in Inman Park, from where you can almost reach out and touch downtown Atlanta.

    li
        h3
            | 213 Elizabeth Street
            small Ann and Bill Moore
            
        p This home says "welcome" with its inviting wrap-around front porch and a back deck made for entertaining. Its front room, parlor, dining room, music room, and many fireplaces make it an Inman Park classic. Built in 1896, as one of the early Inman Park Homes it has seen the neighborhood's ups and downs. At one point it was a 20-room boarding house; Charles Forrest Palmer, a real-estate developer responsible for building the first public housing project in the country, Atlanta's Techwood Homes, is said to have lived here while he wrote Adventures of a Slum Fighter. 

        p The Moores bought the house in 1996 when it was a tri-plex in need of major renovations. Bill began extensive structural projects, including installing large steel beams to level the house, replacing knob-and-tube wiring, and updating plumbing and HVAC systems. The second-floor apartments were transformed into four bedrooms, and the staircase was rebuilt from the main level to the attic. 

        p The basement was excavated, and the original brick support columns were reclaimed and used for the brick walkways and the driveway. The basement floor was finished, and an in-law suite was added. The kitchen got a makeover a few years ago. This past year the family undertook another renovation, refinishing floors, adding the music room, and renovating the bathroom on the main floor. Look for original stained-glass windows, an original clawfoot tub, and five fireplaces, as well as artwork Bill and Ann have collected. 

    li
        h3
            | 203 Hurt Street
            small Philip and Amy Covin 

        p This craftsman bungalow was built in 1909 from a Leila Ross Wilburn plan. During the 60's and 70's, it was a slum rental house. Nearby neighbors tell stories of the comings and goings of some of the characters including countless men who came by during business hours to visit a woman nicknamed 'Hot Pants.'  

        p A little over a year ago, Philip and Amy Covin, who had always desired to live in Inman Park and attended many of its prior festivals, purchased the home.  They worked with Adam Stillman Design and Ed Turner of Classic Renovators on a renovation plan to convert the former duplex into a single-family home.  The new plan connects the main level living and bedroom areas with the basement level via a new stairwell and includes a renovated kitchen and hall bath, as well as an addition to accommodate a master bath and closet.  Favorite features of the home include having a master on main next to their 6-year old son's room and the view from two new rear porches which look out onto Freedom Park.

        p They are utilizing the Georgia Rehabilitation Tax Credit and Property freeze programs. On the advice of neighbor and historic advisor Regina Brewer they limited the reconfiguration of walls into the kitchen to match the width of the existing living room opening to maintain the integrity and flow of the original home.  Additionally, they've maintained the four original fireplaces and iron surrounds, wood beams in the living room as well as original floors, and restored the original claw foot tub. 

    li
        h3
            | 992 Carmel Avenue 
            small Anne and Charlie Henn

        p This is a social house made for entertaining with its wrap around porch, welcoming wide-open spaces and a bar in the front room. Owners Anne and Charlie Henn and their two children have been living here for the past four years and have hosted parties with well over 100 people. They are the second owners of this 2003 custom build house and fell in love with its almost Adams-family-like exterior.  This newer Inman Park construction is filled with beautiful antique architectural details.  Look for the Tiffany lighting in the hallways and stained glass windows along the stairs and in other windows. Everything in this home opens up to each other and culminates in the bright kitchen and family room.  

        p A bit of family history is preserved in the front room, where you'll find a picture of one of the early governors of Bermuda, who was related to Charlie. Look for the 17th century map of Bermuda, by well-known Dutch cartographer Willem Blaeu. The collection of Republican pins in the front room is not a political statement, but rather a tribute to Charlie's grandmother, who was a delegate to the Republican convention in 1960. The Henn's have an impressive collection of work from Atlanta artists beautifully displayed throughout their home. Since moving in they added a one-bedroom garage apartment expanding the home's footprint to 5500 square feet. Another interesting feature in the home are the bathroom sinks, which all sit inside refurbished dressers.

    li
        h3
            | 343 Sinclair Avenue
            small Danielle Henry

        p For Danielle Henry, there's an art to entertaining, and the canvas for her artistry is this newly expanded and renovated bungalow. She's called it home since 2010..  Her party guests call it simply "Club Sinclair."

        p Built in 1920, the house had already acquired a reputation among neighbors for its "loudmouthed" porch parties. It's quieter now that Danielle is hosting, but the parties aren't any less lively, whether it's the season for her Fall Harvest Wine Tasting or for her delightful Spring Soiree. 

        p Natural flow, ample seating, places nearby to rest a beverage: that's what Danielle was looking for when she decided to renovate in 2015. Working with architect Adam Stillman and builder Round Here Renovations, she added a new master bedroom, "Oprah-inspired" closet, and bathroom (converted from a bedroom), while completely renovating the kitchen, refinishing and staining the floors, redesigning the backyard deck, and even installing a bocce court!

        p With the help of designer Kim Zimmerman, Danielle created a wonderful new look for the interior. Beautifully simple, it's a harmonious blend of luxury and restraint, a perfect balance between chic and approachable, between glamour and comfort. 

        p After a long day of work at Coca-Cola, where she works in marketing, Danielle looks forward to joining her cocker spaniel, Ace, in this jewel of a bungalow &ndash; just in time, that is, to open a couple of bottles of red, pop the hors d'oeuvres in the oven, and listen for that first knock at her front door!

    li
        h3
            | 397 Sinclair
            small Megan Holder and Dan Chandler

        p This cozy home with its inviting front porch is a classic Sears catalogue bungalow built in 1914. Yes, one could order homes out of a catalogue. Originally a 2 bedroom 1 bath, it had been expanded to 3 bedrooms when Megan & Dan bought it about 5 years ago. They moved out for six months last year to renovate the house and create a fantastic space for entertaining. Their dream kitchen is connected to the living room with higher ceilings and a new back porch/patio area. A guest bathroom and master closet were also added.

        p The home is decorated with beautiful artwork and photography, much of it by Megan. The portrait in the guest bedroom is by Burt Greenspan, the La Calma El Chaos paintings in the dining room are from Barcelona, and the painting above the fire place is by Kelley Morley. 

        p In the office, tribal masks were collected on trips to Korea, Mexico, Morocco, South Africa, Venezuela, Argentina, and Bangladesh.

        p The couple has integrated a few family heirlooms into the décor. The bookshelves in the hallway are from Dan's great, great grandfather. Megan's grandfather was a geologist and the triptych above the couch in the TV room is from his archives. 

        p The trap door in the kitchen leads to a small basement where the original coal cart remains to this day.

        p With their dog Harvey, Dan and Megan enjoy living in this classic bungalow where they spend a lot of time sitting on their front or new back porch.

    li
        h3
            | 430 Sinclair Avenue
            small Elena and Prinz Pinakatt 

        p Originally from Germany, work brought Elena and Prinz to Atlanta where they have owned two homes in Inman Park. After a relocation to Singapore, they returned to Atlanta in 2016 and purchased this home because they love the neighborhood.  The home is a 3000 square foot, 1906 bungalow with an additional 1600 square foot unfinished basement.  

        p A previous owner had done significant renovations, essentially taking the house down to the studs to create the open plan you see today.  Having light and modern taste, the Pinakatt's replaced the hardwoods, refaced cabinets in the kitchen and baths and painted the entire house white, inside and out.  One of their favorite features is the front yard that opens to the main living areas. Surrounded by a stone wall, they modernized the landscaping with turf and a sandbox for their two children. Look for three original hitching posts in the front yard.

        p Collected from family, travel and work, a few pieces of notable art are the original Banksy print on the side table in the living room; the photo of the march on Selma, signed by John Lewis, in the dining room; original Mr. Brainwash pictures in the kids' playroom; Manolo Blahnik's original scribble of the blue satin high heel from Carrie in Sex and the City that he gave them as a wedding gift; a Formula 1 helmet statue and a huge 7ft spray can sculpture in the basement that has no home on the main level. 

        //- mixin tourImage("/assets/img/2018/", "alt")
        
