extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Events | Tour of Homes

block contents

    mixin secondaryNav(globals.events.nav, "tour of homes")

    //- mixin presentingSponsor("/assets/img/2017/sponsors/presenting-sponsors/north-american-properties.png", "North American Properties")

    article.u-container

        h1 Tour of Homes
        
        p The Tour of Homes is a self-conducted tour of some of the beautiful homes and buildings in Inman Park. See inside some of the glorious old Victorian homes or check out some of the beautiful remodeling jobs neighbors have completed on their houses.

        p The home preview starts on Friday #{globals.ipf.date.friday.date} between #{globals.ipf.date.friday.hours} and continues through Saturday and Sunday between #{globals.tour.hours.weekend}.

        //- TODO create includes to make scheduled changes easier

        h2 Tour of Homes Tickets

        p Tickets are $#{globals.tour.cost.advance} each and will be on sale in March.

        h2 This Year's Homes

    include _homes-2018.jade
