extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'

block title
    title The #{globals.ipf.date.year} #{globals.ipf.title}

block contents

    .Hero.owl-carousel.owl-theme
        div
            .HeroSlidePromo
                .HeroSlidePromo-banner

                .HeroSlidePromo-copy
                    h3 Festival Needs Volunteers!
                    p
                        | Festival doesn't happen without volunteers.
                        = ' '
                        a(href=globals.volunteerSite) Signup now
                        = ' '
                        | to volunteer your time and help make this year's festival great!
                    
                    a.u-blockCentered.Button(href=globals.volunteerSite) Sign Up

        div
            mixin slideImage('parade-block-heros_prqgxi')
        div
            mixin slideImage('parade-elvises_cyaqbo')
        div
            mixin slideImage('painting-face_odgxph')
        div
            mixin slideImage('homes-bighome')

    .u-container
    
        .PageIntro

            .PageIntro-header
                h1 Welcome to Atlanta's Favorite Street Festival
                
            .PageIntro-copy
                p During the last full weekend in April each year, Inman Park proudly presents a neighborhood festival widely regarded as Atlanta&rsquo;s most spirited and eclectic.
                p Please join us for the #{globals.ipf.date.annual}th Inman Park Spring Festival and Tour Of Homes.

    .PromotionItemHero.u-container.u-container--noPad
        .PromotionItemHero-image.image--big-house
            //- img(src="assets/img/fpo/big-house.jpg" alt="Tour Home")
            
        .PromotionItemHero-text
            section
                h2 Tour of Homes
                p 
                    a(href="/events/tour-of-homes") Preview the homes on tour this year.
            .ArrowNav
                a(href="/events/tour-of-homes") >
    
    
    ul.PromotionGrid.u-container.u-container--noPad
        li.PromotionItem.alt-primary
            section
                h3 Join Our Volunteer Team Today.
                
                a.u-blockCentered.Button(href=globals.volunteerSite) Sign Up
        
        li.PromotionItem
            section
                h3 Festival Artwork Chosen
                
                p
                    a(href="/art/2017/") Read the interview with local artist Mindy Phan.
            
            .ArrowNav
                a(href="#") >


        li.PromotionItem.alt-secondary
            section
                h3 Follow Festival Online
                nav.social-icons
                    a(href="https://www.facebook.com/InmanParkFestival/" target="_blank") 
                        span.icon.-facebook
                            span.u-visuallyhidden Facebook
                    a(href="http://twitter.com/InmanParkFest" target="_blank") 
                        span.icon.-twitter
                            span.u-visuallyhidden Twitter: @inmanparkfest
                    a(href="https://www.instagram.com/inmanparkfest" target="_blank")
                        span.icon.-instagram
                            span.u-visuallyhidden Instagram: @inmanparkfest


block scripts
    //- script(src="/assets/js/home.js")
    script.
        var ipf = {};
        ipf.page = 'index';
        $('.owl-carousel').owlCarousel({
            dots: true,
            loop: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 1
                }
            }
        });
