extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Arts & Crafts Market

block contents

    .u-container

        h1 Arts & Crafts Market
        
        mixin tertiaryNav(globals.markets.nav, "arts & crafts")
        
        p Our juried Arts and Crafts Show includes more than 150 fine artists working in sculpture, paintings, and photography.

        p Below are last year's Arts & Crafts vendors.
        
        ul.Vendors
            each vendor in vendors.ac.lines
                li.Vendor
                    ul.u-list-unstyled
                        li(class="Category--#{vendor.class}")
                            - var nameAsBusiness = vendor.business === '';
                            if nameAsBusiness
                                h3.Vendor-business #{vendor.firstname} #{vendor.lastname}
                            else
                                h3.Vendor-business= vendor.business
                                p.Vendor-name #{vendor.firstname} #{vendor.lastname}
                            a.Vendor-url(href="http://#{vendor.url}")= vendor.url
                            div.Vendor-category= vendor.category
