extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Market | Become an Exhibitor

block contents

    mixin secondaryNav(globals.markets.nav, "become an exhibitor")

    article.u-container
    
        h1 Become an Exhibitor

        p Exhibitor applications for this year's festival are now closed. Vendors will be notified of acceptance no later than #{globals.vendors.notification}.

        //- p 
        //-     | To apply to become a vendor for the #{globals.ipf.date.year} #{globals.ipf.title}, please use this link:
        //-     = " "
        //-     a(href="https://www.zapplication.org/event-info.php?ID=5363") https://www.zapplication.org/event-info.php?ID=5363
        
        //- p 
        //-     | If you have questions, please email us at:
        //-     = " "
        //-     a(href="mailto:artinmanpark@gmail.com") artinmanpark@gmail.com
        
        //- h2 Deadlines for the #{globals.ipf.date.year} #{globals.ipf.title}:
        
        //- ul
        //-     li Application submissions must be postmarked by #{globals.vendors.deadline}
        //-     li Vendors will be notified of acceptance no later than #{globals.vendors.notification}
            
        h2 Exhibitor Information
        
        p Here are some helpful documents for exhibitors:
        
        ul
            li
                a(href="/assets/static/archive/2017/2017-Exhibitor-Checkin-Map.pdf") 2017 Map with Exhibitor Check-in Locations (PDF)
            li
                a(href="/assets/static/archive/2017/2017-Inman-Park-Stores-And-Hotels.pdf") List of Stores and Hotels in the Area (PDF)
