//- used to create the pipe-delimited navigation menus for sectional subnav
mixin secondaryNav(nav, selected)
    .SecondaryNavContainer
        nav.SecondaryNav
            each item in nav
                if item.title.toLowerCase() === selected
                    a(href=item.href title=item.title class="is-selected")= item.title
                else
                    a(href=item.href title=item.title)= item.title

//- the individual band summary list item
mixin bandListing(band)
    - var imgUrl = typeof(band.photo) !== 'undefined' ? band.photo : ''
    li.Band

        .BandPhoto
            img.img(src=imgUrl alt=band.title)

        .BandCopy
            h4
                != band.title
                small
                    | #{band.start}
                    = ' - '
                    | #{band.end}

            p= band.description

            button.BandDetailsTrigger Read the Band's bio

            .BandDetails
                //- button.BandDetails--close CLOSE
                
                .u-container-thin
                    button.BandDetails--close CLOSE

                    .BandPhoto
                        img.img(src=imgUrl alt=band.title)

                    h4= band.title
                    article!= band.bio
            
            if band.url && band.url !== ''
                p
                    a(href=band.url target="_blank") Visit band site

//- the listing of bands per stage for a single specified day
mixin musicday(dayTitle, stages, day)
    li.MusicDay

        h2 #{dayTitle} Bands by Stage
        
        //- Delta Park bands
        - var id = dayTitle + "Delta"
        h3.u-namedLink(id=id)= stages.d
        ul.MusicStage
            each band in day.d
                mixin bandListing(band)
        
        //- Euclid Avenue bands
        - var id = dayTitle + "Euclid"
        h3.u-namedLink(id=id)= stages.e
        ul.MusicStage
            each band in day.e
                mixin bandListing(band)
        
        //- WonderRoot bands
        - var id = dayTitle + "Wonderroot"
        h3.u-namedLink(id=id)= stages.w
        ul.MusicStage
            each band in day.w
                mixin bandListing(band)

mixin slideImage(imageName, alt)
    img(sizes="(min-width: 1024px) 1024px, 100vw" srcset="#{imageName}-1024.jpg 1024w, #{imageName}-768.jpg 768w, #{imageName}-320.jpg 320w" src="#{imageName}-320.jpg" alt=alt)

mixin slideImageXL(imageName, alt)
    img(sizes="(min-width: 1024px) 1024px, 100vw" srcset="#{imageName}-2048.jpg 2048w, #{imageName}-1024.jpg 1024w, #{imageName}-768.jpg 768w, #{imageName}-320.jpg 320w" src="#{imageName}-320.jpg" alt=alt)


mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset="#{imageName}-1880.jpg 1880w, #{imageName}-1440.jpg 1440w, #{imageName}-940.jpg 940w, #{imageName}-720.jpg 720w, #{imageName}-366.jpg 366w, #{imageName}-327.jpg 327w, #{imageName}-272.jpg 272w" src="#{imageName}-272.jpg" alt=alt).TourHomeImage

mixin sponsorGridImage(src, alt, url)
    li
        a(href=url target="_blank")
            img(src=src alt=alt)

mixin footerSponsor(src, alt, url)
    a(href=url target="_blank")
        img(src=src alt=alt)

mixin presentingSponsor(src, alt)
    .PresentingSponsor
        h4 Presenting Sponsor:
        .PresentingSponsor-logo
            img(src=src alt=alt)
