//- used to create the pipe-delimited navigation menus for sectional subnav
mixin secondaryNav(nav, selected)
    .SecondaryNavContainer
        nav.SecondaryNav
            each item in nav
                if item.title.toLowerCase() === selected
                    a(href=item.href title=item.title class="is-selected")= item.title
                else
                    a(href=item.href title=item.title)= item.title

//- the individual band summary list item
mixin bandListing(band)
    - var imgUrl = typeof(band.photo) !== 'undefined' ? band.photo : ''
    li.Band

        .BandPhoto
            img.img(src=imgUrl alt=band.title)

        .BandCopy
            h4
                != band.title
                small
                    | #{band.start}
                    = ' - '
                    | #{band.end}

            p= band.description

            button.BandDetailsTrigger More Info

            .BandDetails
                button.BandDetails--close CLOSE
                
                .u-container-thin
                    .BandPhoto
                        img.img(src=imgUrl alt=band.title)

                    h4= band.title
                    article!= band.bio

//- the listing of bands per stage for a single specified day
mixin musicday(dayTitle, stages, day)
    li.MusicDay

        h2 #{dayTitle} Bands by Stage
        
        //- Delta Park bands
        - var id = dayTitle + "Delta"
        h3.u-namedLink(id=id)= stages.d
        ul.MusicStage
            each band in day.d
                mixin bandListing(band)
        
        //- Euclid Avenue bands
        - var id = dayTitle + "Euclid"
        h3.u-namedLink(id=id)= stages.e
        ul.MusicStage
            each band in day.e
                mixin bandListing(band)
        
        //- WonderRoot bands
        - var id = dayTitle + "Wonderroot"
        h3.u-namedLink(id=id)= stages.w
        ul.MusicStage
            each band in day.w
                mixin bandListing(band)

mixin slideImage(imageName)
    img(sizes="(min-width: 1024px) 1024px, 100vw" srcset="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_256/ipf/#{imageName} 256w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_512/ipf/#{imageName} 512w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_768/ipf/#{imageName} 768w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_1024/ipf/#{imageName} 1024w" src="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_512/ipf/#{imageName}" alt)

mixin tourImage(imageName, alt)
    img(sizes="(min-width: 1024px) 940px, 100vw" srcset="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_234/ipf/#{imageName} 235w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_470/ipf/#{imageName} 470w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_705/ipf/#{imageName} 705w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_940/ipf/#{imageName} 940w" src="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_512/ipf/#{imageName}" alt=alt).TourHomeImage

mixin sponsorGridImage(src, alt, url)
    li
        a(href=url target="_blank")
            img(src=src alt=alt)

mixin footerSponsor(src, alt, url)
    a(href=url target="_blank")
        img(src=src alt=alt)