//- used to create the pipe-delimited navigation menus for sectional subnav
mixin tertiaryNav(nav, selected)
    nav.NavTertiary
        each item in nav
            if item.title.toLowerCase() === selected
                a(href=item.href class="PipeNav is-selected")= item.title
            else
                a(href=item.href class="PipeNav")= item.title

//- the individual band summary list item
mixin bandListing(band)
    li
        h4
            = band.title
            small= band.start
        
        p= band.description


//- the listing of bands per stage for a single specified day
mixin musicday(dayTitle, stages, day)
    li.MusicDay

        h2 #{dayTitle} Bands by Stage
        
        //- Delta Park bands
        h3= stages.d
        ul.MusicStage
            each band in day.d
                mixin bandListing(band)
        
        //- Euclid Avenue bands
        h3= stages.e
        ul.MusicStage
            each band in day.e
                mixin bandListing(band)
        
        //- WonderRoot bands
        h3= stages.w
        ul.MusicStage
            each band in day.w
                mixin bandListing(band)

mixin slideImage(imageName)
    img(sizes="(min-width: 1024px) 1024px, 100vw" srcset="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_256/ipf/#{imageName} 256w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_512/ipf/#{imageName} 512w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_768/ipf/#{imageName} 768w, http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_1024/ipf/#{imageName} 1024w" src="http://res.cloudinary.com/chadzilla/image/upload/f_auto,q_70,w_512/ipf/#{imageName}" alt)
